.content 
    text-align: center
    width: 100%
    margin-top: 14vh

.content-card
    margin: 0 auto
    width: 30%

.full-width
    width: 100%

.sumbit-button
    height: 4vh
    width: 10vw
    padding-top: -2vh